.form-horizontal.form-groups-bordered.css-form(novalidate, ng-form="form")
  .form-group
    label.col-sm-3.control-label(for='textnoptice') Примітки
    .col-sm-5
      textarea.form-control#textnoptice(rows="4", ng-model='user.notice')